{
    "timeout": 120,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "infection-log.txt"
    },
    "mutators": {
        "@default": true,
        "InstanceOf_": false,
        "ArrayItemRemoval": {
            "ignore": [
                "WyriHaximus\\AsyncTestUtilities\\AsyncTestCase::provideEventLoop"
            ]
        }
    }
}
