parameters:
	ergebnis:
		noExtends:
			classesAllowedToBeExtended:
				- WyriHaximus\AsyncTestUtilities\AsyncTestCase

includes:
	- ../test-utilities/rules.neon
	- ../phpstan-react/phpstan-reactphp-rules.neon
